@import './variables';
@import './_mixins';

.tech-stack {
    padding: 20px;
    background-color: $neutral-color-3;
    color: $dark-color;
    text-align: center;
    transition: opacity 1s ease-out, transform 1s ease-out;
    opacity: 0;
    transform: translateY(20px);

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    h2 {
        margin-bottom: 20px;
        font-size: 2rem;
    }

    h3 {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .experience,
    .learning {
        margin: 20px 0;

        .logos-container {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border: 1px solid $neutral-color-1;
            background-color: $dark-color;
            padding: 10px;
            border-radius: 5px;
            margin: 0 auto;

            &.experience-logos {
                width: 80%;
                max-width: 600px;
            }

            &.learning-logos {
                width: 100%; // 80% / 3 = 26.67%
                max-width: 200px; // Ensure it is 3 times smaller than the experience container
            }

            .slick-slider {
                width: 100%;
            }

            .slick-track {
                display: flex;
                align-items: center;
            }

            .logo {
                width: 48px;
                height: 48px;
                object-fit: contain;
                margin: 0 10px;
                opacity: 0;
                animation: fadeInOut 20s infinite;
            }
        }
    }

    .tech-details {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;

        .tech-box {
            background-color: $neutral-color-1;
            padding: 20px;
            border-radius: 5px;
            width: 30%;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            ul {
                text-align: left;
                list-style: disc inside;
                padding-left: 0;

                li {
                    font-size: 1.2rem;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .logos .logo {
            width: 40px;
            height: 40px;
        }

        .tech-details {
            flex-direction: column;
            align-items: center;

            .tech-box {
                width: 80%;
                margin-bottom: 20px;
            }
        }
    }

    @keyframes fadeInOut {

        0%,
        100% {
            opacity: 0;
        }

        10%,
        90% {
            opacity: 1;
        }
    }
}